* {
  background-color: black;
  margin: 0;
  padding: 0;
  touch-action: none;
}

:root {
  /* Colors */
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-danger: #dc3545;

  /* Spacing */
  --spacing-small: 0.5em;
  --spacing-medium: 1em;
  --spacing-large: 1.5em;

  /* Typography */
  --ff: "Inter", sans-serif;
  --font-h1: bold 1.125rem/1.4em var(--ff);
  --font-h2: bold 1rem/1.4em var(--ff);
  --font-p: 1rem/1.4em var(--ff);
  --font-p2: .875rem/1.4em var(--ff);
  --font-gray100: hsl(0, 0%, 100%);
  --font-gray70: hsl(0, 0%, 70%);
  --font-gray0: hsl(0, 0%, 0%);

  /* Border */
  --border-radius: 0.25em;
  --border-width: 0.0625em;
}

#root {
  height: 100%;
  width: 100%;
  /* max-width: 1280px; */
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


div.player-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* for reference: Player.jsx
full frame 375x812
secondary nav 375x73
track details 375x84
player cover 375x316
player timeline 375x67
media controls 375x74
player edit 375x198 */

/* SecondaryNav component */
div.secondary-nav {
  width: 100%;
  flex: calc(100% * 73/812);
  display: flex;
}
div.back-button {
  flex: calc(100% * 57/375);
}
button#back-button {
  background-color: black;
}
div.secondary-nav-padding {
  flex: calc(100% * 318/375);
}

/* TrackDetails component */
div.player-details {
  flex: calc(100% * 84/812);
}
p.track-title {
  font: var(--font-h1);
}
p.track-artist {
  font: var(--font-p);
}

/* PlayerCover portion */
div.player-cover {
  flex: calc(100% * 316/812);
  display: flex;
  padding-top: 0.625rem;
  align-items: center;
  justify-content: center;
}
img#player-cover {
  height: calc(100% * 300/316);
  width: calc(100% * 300/375);
}

/* PlayerTimeline portion */
div.player-timeline {
  flex: calc(100% * 67/812);
}

/* MediaControls component */
div.player-media-controls {
  flex: calc(100% * 74/812);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
div.player-media-controls>button {
  height: calc(100% * 72/74);
  width: calc(100% * 72/378);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PlayerEdit portion */
div.player-edit {
  flex: calc(100% * 198/812);
  display: flex;
  align-items: center;
  justify-content: center;
}
