/* index.css */
* {
  margin: 0;
  padding: 0;
  touch-action: none;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* App.css */
#root {
  text-align: center;
  width: 100vw;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Homepage Styling */

/* Container */
#homepage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

/* Header */
#homepage-header {
  display: flex;
  flex: calc(100vh * 78 / 812);
  justify-content: space-between;
  align-items: center;
}

/* Search Bar */
#search-bar-wrapper {
  display: flex;
  flex: calc(100vh * 52 / 812);
  justify-content: center;
  align-items: center;
}

/* Song List */
#song-list-wrapper {
  display: flex;
  flex: calc(100vh * 569 / 812);
  overflow-y: auto;
}

#song-list {
  width: 100vw;
}

#song-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  width: 100%;
}

/* Song Card */

.song-card {
  display: flex;
  gap: 20px;
}

/* Search Bar */
#header-items {
  display: flex;
  justify-content: space-between;
}

#search-bar-wrapper {
  padding: 10px;
}

#search-bar-wrapper input {
  width: 100%;
  background-color: #9f9d9d;
  border-radius: 30px;
  border-style: none;
  padding: 10px;
  color: #000;
}

/* Footer */
#footer-wrapper {
  display: flex;
  flex: calc(100vh * 113 / 812);
  justify-content: center;
  align-items: center;
  gap: 30%;
}

p.track-title {
  font: var(--font-h1);
}
p.track-artist {
  font: var(--font-p);
}

/*
  styles for Player.jsx
*/

div.player-container {
  /* SecondaryNav component */
  div.secondary-nav {
    width: 100%;
    flex: calc(100% * 73/812);
    display: flex;

    div.back-button {
      flex: calc(100% * 57/375);
    }
    button#back-button {
      background-color: black;
    }
    div.secondary-nav-padding {
      flex: calc(100% * 318/375);
    }
  }

  /* TrackDetails component */
  div.player-details {
    flex: calc(100% * 84/812);
  }

  /* PlayerCover portion */
  div.player-cover {
    flex: calc(100% * 316/812);
    display: flex;
    padding-top: 0.625rem;
    align-items: center;
    justify-content: center;
  }
  img#player-cover {
    height: calc(100% * 300/316);
    width: calc(100% * 300/375);
  }

  /* PlayerTimeline portion */
  div.player-timeline {
    flex: calc(100% * 67/812);
  }

  /* MediaControls component */
  div.player-media-controls {
    flex: calc(100% * 74/812);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  div.player-media-controls>button {
    height: calc(100% * 72/74);
    width: calc(100% * 72/378);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* PlayerEdit portion */
  div.player-edit {
    flex: calc(100% * 198/812);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*
  styles for Mixer.jsx
*/

div.mixer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* Secondary Nav */
  div.secondary-nav {
    flex: calc(100% * 73/812);
    display: flex;

    div.back-button {
      flex: calc(100% * 57/375);
    }
    button#back-button {
      background-color: black;
    }
    div.secondary-nav-padding {
      flex: calc(100% * 318/375);
    }
  }
  div.player-details {
    flex: calc(100% * 94 / 812);
  }
  div.mixer-timeline-container {
    flex: calc(100% * 226/812);
  }
  div.duration-container {
    flex: calc(100% * 48/812);
  }
  div.mixer-controls-container {
    flex: calc(100% * 79/812);
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
  div.control-knobs-container {
    flex: calc(100% * 174/812);
  }
  div.save-container-mixer {
    flex: calc(100% * 118/812);
  }
}

/* styles for Loading.jsx */
div.loading-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Animations */
@keyframes spin {
  from {
    transform: rotate(var(--start-degree, 0deg));
  }
  to {
    transform: rotate(calc(var(--start-degree, 0deg) + 360deg));
  }
}