/* index.css */
* {
  margin: 0;
  padding: 0;
  touch-action: none;
}

:root {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-danger: #dc3545;

  /* Spacing */
  --spacing-small: 0.5em;
  --spacing-medium: 1em;
  --spacing-large: 1.5em;

  /* Typography */
  --ff: "Inter", sans-serif;
  --font-h1: bold 1.125rem/1.4em var(--ff);
  --font-h2: bold 1rem/1.4em var(--ff);
  --font-p: 1rem/1.4em var(--ff);
  --font-p2: 0.875rem/1.4em var(--ff);
  --font-gray100: hsl(0, 0%, 100%);
  --font-gray70: hsl(0, 0%, 70%);
  --font-gray0: hsl(0, 0%, 0%);

  /* Border */
  --border-radius: 0.25em;
  --border-width: 0.0625em;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* App.css */
#root {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100%;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
/* Auth Page Styling */
#login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: Avenir;
}

#login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

#apollo-logo {
  border-radius: 35px;
  width: 30vh;
}

#auth-options-wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 10px;
}

#auth-options-wrapper button {
  font-family: Avenir;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: white;
  padding: 20px;
  width: 100%;
  gap: 5px;
  font-size: larger;

}

/* auth-options-wrapper */
#googleLogin {
  opacity: 0.5;
  cursor: default;
}
#guestLogin:hover {
  /* border-color: #ffe30d; */
  background: rgba(255, 255, 255, 0.2);
}

/* Homepage Styling */

/* Container */
#homepage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

/* Header */
#homepage-header {
  font-family: Avenir;
  display: flex;
  flex: calc(100vh * 78 / 812);
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

/* Search Bar */
#search-bar-wrapper {
  display: flex;
  flex: calc(100vh * 52 / 812);
  justify-content: center;
  align-items: center;
}

/* Song List */
#song-list-wrapper {
  display: flex;
  flex: calc(100vh * 569 / 812);
  overflow-y: auto;
}

#song-list {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#song-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  width: 100%;
}

/* Song Card */

.song-card {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border: 1px solid transparent;
}

/* Song Card Cover Image */
.song-card img {
  display: flex;
  border-radius: 5px;
  height: 126px;
  width: 126px;
}

.song-card:hover {
  background: rgba(255, 255, 255, 0.2);
  /* border-style: solid;
  border-radius: 15px;
  border-color: #ffe30d;
  border-width: 1px; */
  cursor: pointer;
}

/* Song Card Save Button */
#save-icon-wrapper img {
  height: fit-content;
  width: 30px;
  margin: 5px;
}

.save-icon:hover {
  content: url("./assets/save_icon_active.svg");
}

.save-icon-active:hover {
  content: url("./assets/remove_icon.svg");
}

.save-button {
  background: transparent;
  display: flex;
}

/* Search Bar */
#header-items {
  display: flex;
  justify-content: space-between;
}

#search-bar-wrapper {
  display: flex;
  flex: calc(100vh * 52 / 812);
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  border-bottom-width: 1px;
  border-bottom-color: #343434;
  border-bottom-style: solid;
}

#search-bar-wrapper input {
  padding-right: 40px;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background: #9f9d9d;
  border-radius: 30px;
  padding: 10px 20px 12px 40px;
  font-size: large;
  font-weight: bold;
  color: #000;
  outline: none;
  border: 1px solid transparent;
  background-image: url("./assets/search_icon.svg");
  background-position: 10px;
  background-repeat: no-repeat;
}

#clear-button {
  position: absolute;
  top: 50%;
  height: fit-content;
  right: 20px;
  transform: translateY(-50%);
  background-color: transparent;
}

#search-bar-wrapper input:focus {
  border-style: solid;
  border-color: #ffe30d;
  border-width: 1px;
  transition: border-color 0.1s ease;
}

/* Footer */
#footer-wrapper {
  display: flex;
  flex: calc(100vh * 113 / 812);
  justify-content: center;
  align-items: center;
  gap: 30%;
  border-top-width: 1px;
  border-top-color: #343434;
  border-top-style: solid;
}

#footer-wrapper button {
  background-color: transparent;
}

/* Alert Messages Styling */
#alert-message {
  display: flex;
  flex: calc(100vh * 569 / 812);
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}

p.track-title {
  font: var(--font-h1);
}
p.track-artist {
  font: var(--font-p);
}

/*
  styles for Player.jsx
*/

div.blanked {
  color: black;
}

div.queue-modal {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 20;
  top: 0;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  div.queue-header {
    flex: 1;
    display: flex;
    div.queue-header-left-padding {
      flex: 2;
    }
    div.queue-header-title {
      flex: 5;
      font-size: 3rem;
      font-family: Avenir;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    div.queue-header-exit-container {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      button#queue-exit:hover {
        transform: scale(1.125);
      }
    }
  }
  div.queue-body {
    flex: 9;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    ul.queue-list {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
      gap: 0.25rem;
      overflow: scroll;
      li.queue-list-item:hover {
        background: rgba(255, 255, 255, 0.2);
      }
      li.queue-list-item {
        padding: 1rem;
        border-radius: 5px;
        min-height: 7vh;
        max-height: 7vh;
        display: flex;
        gap: 1rem;
        div.queue-item-cover {
          height: 7vh;
          width: 7vh;
          display: flex;
          img {
            border-radius: 5px;
            object-fit: contain;
          }
        }
        div.queue-item-details {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          div.queue-item-title {
            font: var(--font-h1);
          }
          div.queue-item-artist {
            font: var(--font-p2);
          }
        }
      }
    }
  }
}

div.player-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  /* SecondaryNav component */
  div.secondary-nav {
    width: 100%;
    flex: calc(100% * 73 / 812);
    display: flex;
    justify-content: space-between;

    button#back-button {
      flex: 1;
    }
    div.secondary-nav-padding {
      flex: 2.5;
    }
    button#popout-button,
    button#queue-button
    {
      flex: 1;
    }
  }

  /* TrackDetails component */
  div.player-details {
    flex: calc(100% * 84 / 812);
  }

  /* PlayerCover portion */
  div.player-cover {
    flex: calc(100% * 316 / 812);
    max-height: calc(100% * 316/812);
    display: flex;
    /* padding-top: 0.625rem; */
    align-items: center;
    justify-content: center;
  }
  img#player-cover {
    height: calc(100% * 300 / 316);
    width: calc(100% * 300 / 375);
    object-fit: contain;
  }

  /* PlayerTimeline portion */
  div.player-timeline {
    flex: calc(100% * 67 / 812);
  }

  /* MediaControls component */
  div.player-media-controls {
    flex: calc(100% * 74 / 812);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
  }
  div.player-media-controls > button {
    height: calc(100% * 72 / 74);
    width: calc(100% * 72 / 378);
    display: flex;
    align-items: center;
    justify-content: center;
    :hover {
      transform: scale(1.125);
    }
  }

  /* PlayerEdit portion */
  div.player-edit {
    flex: calc(100% * 198 / 812);
    display: flex;
    align-items: center;
    justify-content: center;
    button:hover {
      transform: scale(1.125);
    }
  }
}
p#edit-text {
  color: white;
}

/*
  styles for Mixer.jsx
*/

div.mixer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* Secondary Nav */
  div.secondary-nav {
    width: 100%;
    flex: calc(100% * 73 / 812);
    display: flex;
    justify-content: space-between;

    button#back-button {
      flex: 1;
      /* flex: calc(100% * 57 / 375); */
    }
    div.secondary-nav-padding {
      flex: 2.5;
    }
    button#popout-button,
    button#help-button
    {
      visibility: hidden;
      flex: 1;
    }
  }
  div.player-details {
    flex: calc(100% * 94 / 812);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  div.mixer-timeline-container {
    flex: calc(100% * 226 / 812);
    display: flex;
    align-items: center;
    div.wave-container {
      flex: 1;
      height: 80%;
      display: flex;
      align-items: center;
      div {
        flex: 1;
      }
    }
  }
  div.duration-container {
    flex: calc(100% * 48 / 812);
  }
  div.mixer-controls-container {
    flex: calc(100% * 79 / 812);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    span {
      flex: 1;
      font: var(--font-p);
      font-size: 1.4rem;
    }
    button { flex: 1 }
  }
  div.control-knobs-container {
    /* preventing select */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    flex: calc(100% * 174 / 812);
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    div.rate-picker-title {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      z-index: 20; /* this is to that the title is above the gradient! */
      p {
        font: var(--font-h1);
        margin-top: auto;
      }
    }

    div.rate-picker-container {
      box-sizing: border-box;
      flex: 1;
      overflow: hidden;
      position: relative;
      ul.rate-picker {
        /* cursor: pointer; */
        display: flex;
        list-style-type: none;
        padding: 0 50% 50px 50%;
        gap: 1rem;
        overflow: scroll;
        height: 100%;
        /* sauce */
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        scroll-behavior: smooth;
        cursor: grab;
        li.rate-value {
          min-width: 3rem;
          max-width: 3rem;
          color: white 100%;
          background-color: black;
          /* sauce */
          scroll-snap-align: center;
        }
        li.current { color: #FFE30E }
      }
      input.floating-input {
        position: absolute;
        z-index: 10; /* Ensure it's above other elements */
        outline: none;
        background-color: black;
        color: white;
        border: 1px solid #FFE30E;
        padding: 2px;
        text-align: center; /* Center the text */
      }
      div.error-message {
        position: absolute;
        z-index: 10;
        color: #FF6347;
        font: var(--font-p);
        height: 20%;
        width: 50%;
        transform: translate(-50%, -50%);
        top: 70%;
        left: 50%;
      }
    }
    div.left-gradient {
      height: 100%;
      width: 42%;
      position: absolute;
      z-index: 10;
      pointer-events: none;
      background: linear-gradient(to right, black 40%, transparent 100%);
    }
    div.right-gradient {
      height: 100%;
      width: 42%;
      position: absolute;
      z-index: 10;
      pointer-events: none;
      background: linear-gradient(to left, black 40%, transparent 100%);
      right: 0;
    }
    div.rate-picker-hint {
      border-top: 1px solid;
      border-image: linear-gradient(to right,
        transparent 30%,
        white 50%,
        transparent 70%
      );
      border-image-slice: 1;
      flex: 1;
    }
  }
  div.save-container-mixer {
    flex: calc(100% * 118 / 812);
  }
}

/* styles for Loading.jsx */
div.loading-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* player timeline... */
div.player-timeline {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* styles for Player input slider/progress bar */
.progress-bar {
  width: 80%;
  max-width: 80%;
  /* width: calc(100% * 328/375); */
  transform: scale(1, 1.5);
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Make sure padding and border are included in width */
  position: absolute;
}

div.progress-thumb-container {
  z-index: 10;
  height: 20px;
  width: 80%;
  position: absolute;
  pointer-events: none;
}

div.progress-thumb {
  margin-left: calc(var(--progress-percent) - 10px);
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  pointer-events: none;
}

/* Chrome/Safari/Opera */
.progress-bar::-webkit-slider-runnable-track {
  background: #343434; /* Unfilled color */
  background: linear-gradient(
    to right,
    #FFE30E var(--progress-percent, 0%),  /* Filled color */
    #343434 var(--progress-percent, 0%)      /* Unfilled color */
  );
  height: 5px;
  border-radius: 3px;
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  /* background: #FFE30E;
  border-radius: 50%;
  margin-top: -5px; */
}

/* Firefox */
.progress-bar::-moz-range-track {
  background: #343434;
  background: linear-gradient(
    to right,
    #FFE30E var(--progress-percent, 0%),
    #343434 var(--progress-percent, 0%)
  );
  height: 5px;
  border-radius: 3px;
}

.progress-bar::-moz-range-thumb {
  opacity: 0;
  height: 15px;
  width: 15px;
  /* background: #FFE30E;
  border: none;
  border-radius: 50%; */
}

/* Animations */
@keyframes spin {
  from {
    transform: rotate(var(--start-degree, 0deg));
  }
  to {
    transform: rotate(calc(var(--start-degree, 0deg) + 360deg));
  }
}

.secondary-nav button:hover {
  transform: scale(1.25);
}
